<header>
  <nav class="navbar navbar-expand-md navbar-light bg-light container mt-2">
    <div class="d-flex flex-row flex-md-row align-items-center pb-3 mb-4">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <img src="/assets/img/logo_black.jpg" alt="" height="160">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav me-auto mb-2 mb-lg-0">
          <a class="nav-link" href="#menu-intro">Intro</a>
          <a class="nav-link" href="#menu-unesco">Unesco</a>
          <a class="nav-link" href="#menu-itinerari">Itinerari</a>
          <a class="nav-link" href="#menu-ragazzi">Scuole</a>
          <a class="nav-link" href="#menu-virtual">Virtual tour</a>
        </div>
      </div>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/about/">Progetto</a>
    </div>
    </nav>
  </header>
